<h1>Post Title:  <%= @post.title %></h1>

<h2>Post Content:  <%= @post.content %></h2>

<h3>Categories:
	<ul>
	<% @post.categories.each do |category| %>
	<li><%= category.name %></li>
	<% end %> </ul></h3>

<h3>Comments:
	<ul>
	<% @post.comments.each do |comment| %>
	<%= comment.user.username %> says: <%= comment.content %></li>
	<% end %>

	<% @post.users.uniq.each do |user| %>
	<li>Users Who've Commented:
	<li><%= link_to user.username, user_path(user) %></li>
	<% end %> </ul></h3>

<h3>Add a Comment:
<%= form_for @comment do |f| %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.label "New Comment Content" %>
  <%= f.text_area :content %>
  <%= f.label "Select Existing User" %>
  <%= f.collection_select(:user_id, User.all, :id, :username, prompt: "") %>
  <%= f.label "Create a New User" %>
  <%= f.fields_for :user, User.new do |user_field| %>
    <%= user_field.text_field :username %>
  <% end %></h3>
  <%= f.submit %>
<% end %>