<h1>Post</h1>

<%=@post.title%>
<%=@post.content%>
<%@comments.each do |comment|%>
  <%=comment.content%>
<%end%>

<%=form_for @comment do |form|%>
  <%=form.hidden_field :post_id, value: @post.id%>
  <%=form.label :content%>
  <%=form.text_field :content%>
  <%=form.text_field :user_id, list:'user_id_autocomplete'%>
  <datalist id='user_id_autocomplete'>
    <%User.all.each do |user|%>
      <option value='<%=user.username%>'>
    <%end%>
  </datalist>
  <%=form.submit%>
<%end%>
